name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build_web:
    name: Build Flutter (Web)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'

      - name: flutter upgrade
        run: flutter upgrade
      - name: get Version
        run:  flutter --version
      - run: flutter pub get
      - run: flutter config --enable-web
      - run: flutter build web
      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        with:
          name: web-build
          path: build/web
  deploy_web:
    name: Deploy Web to Firebase Hosting
    needs: build_web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: web-build
          path: build/web
#      - name: Deploy to Firebase
#        uses: w9jds/firebase-action@master
#        with:
#          args: deploy --only hosting --public web-build
#        env:
#          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
#          PROJECT_ID: default
      - name: npx firebase-tools
        run: npx firebase-tools

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          admin_dashboard_clientSecret: '${{ secrets.ADMIN_DASHBOARD_CLIENTSECRET }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ADMIN_DASHBOARD_B9503 }}'
          messagingSenderID : '${{ secrets.MESSAGINGSENDERID}}'
          appId: '${{ secrets.appId}}'
          apiKey : '${{ secrets.apiKey}}'
          admin_dashboard_token : '${{ secrets.ADMIN_DASHBOARD_TOKEN}}'
          admin_dashboard_clientId: '${{ secrets.ADMIN_DASHBOARD_CLIENTID}}'
          admin_dashboard_redirectUrl : '${{ secrets.ADMIN_DASHBOARD_REDIRECTURL}}'



          projectId: admin-dashboard-b9503
          channelId: live
